<div><ol type="I">
  <h3><li><a href="https://www.bitmesra.ac.in" target= "_blank">bitmesra</li></h3>
    <h3><li><a href="https://www.google.com" target= "_blank">delhiuniv</li></h3>
      <h3><li><a href="https://www.manipal.edu" target= "_blank">manipaluniversity</li></h3>
        <h3><li><a href="https://google.com" target= "_blank">diet</li></h3>
          <h3><li><a href="https://www.google.pk" target= "_blank">stxaviers</li></h3>


  </ol></div >
  <br>

   <a href="{% url 'home' %}">Back to home </a>
